@keyframes show {
  from {
    opacity: 0;
    scale: 10%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes square {
  0% {
    top: 0;
    left: -50%;
  }
  25% {
    top: 0;
    left: 100%; /* Mover a la derecha */
  }
  50% {
    top: 90%; /* Mover hacia abajo */
    left: 100%;
  }
  75% {
    top: 90%; /* Mover hacia abajo */
    left: -50%; /* Mover a la izquierda */
  }
  100% {
    top: 0; /* Volver al punto de partida */
    left: -50%;
  }
}
@keyframes animat {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 75px;
    left: 750px;
  }
  50% {
    top: 500px;
    left: 600px;
  }

  75% {
    top: 200px;
    left: 600px;
  }
  95% {
    top: 500px;
    left: -600px;
  }

  100% {
    top: 0;
    left: 0;
  }
}

@keyframes animAgujero {
  10% {
    background-image: radial-gradient(
      #0369a1,
      #02283c,
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789,
      transparent,
      #02283c
    );
  }
  20% {
    background-image: radial-gradient(
      #0228cc,
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789,
      transparent,
      #02283c,
      #0369a1
    );
  }
  30% {
    background-image: radial-gradient(
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789,
      transparent,
      #02283c,
      #0369a1,
      #02283c
    );
  }
  40% {
    background-image: radial-gradient(
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789,
      transparent,
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8
    );
  }
  50% {
    background-image: radial-gradient(
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789,
      transparent,
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8,
      transparent
    );
  }
  60% {
    background-image: radial-gradient(
      #0369a1,
      #f4f6ff,
      #286789,
      transparent,
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8,
      transparent,
      #84d4ff
    );
  }
  70% {
    background-image: radial-gradient(
      #f4f6ff,
      #286789,
      transparent,
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1
    );
  }
  80% {
    background-image: radial-gradient(
      #286789,
      transparent,
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff
    );
  }
  90% {
    background-image: radial-gradient(
      transparent,
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789
    );
  }
  100% {
    background-image: radial-gradient(
      #02283c,
      #0369a1,
      #02283c,
      #05a3f8,
      transparent,
      #84d4ff,
      #0369a1,
      #f4f6ff,
      #286789,
      transparent
    );
  }
}

@keyframes derecha {
  0% {
    top: 0;
    left: 16px;
  }

  50% {
    top: 0px;
    left: 260px;
  }
  100% {
    top: 0;
    left: 16px;
  }
}

@keyframes arribaAbajo {
  0% {
    top: 0;
    left: 0;
  }
  50% {
    top: 555px;
    left: 0px;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes aparecer {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@keyframes crecer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes latir {
  0% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveNames {
  from {
    transform: translate(-50%, -50%) translate(-1300px, -850px);
  }
  to {
    transform: translate(-50%, -50%) translate(1300px, 850px);
  }
  /* 100% { transform: translate(-50%, -50%) translate(-1300px, -850px); } */
}

@keyframes moveIcons {
  from {
    transform: translate(-50%, -50%) translate(1300px, -850px);
  }
  to {
    transform: translate(-50%, -50%) translate(-1300px, 850px);
  }
  /* 100% { transform: translate(-50%, -50%) translate(1300px, -850px); } */
}
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scrolll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
