/* decorations */
.welcomeSecBackground {
  width: 56px;
  height: 56px;
  border-radius: 55%;
  position: absolute;
  left: 16px;
  top: 55.6%;
  filter: blur(5px);
  z-index: -5;
  animation: derecha 5s ease-in-out infinite;
}
.servicesBackground {
  position: absolute;
  width: 756px;
  height: 756px;
  border-radius: 55%;
  z-index: -5;
  left: 50%;
  top: 65.6%;
  transform: translate(-50%, -50%);
  backdrop-filter: 55px;
}

.projectBackground {
  position: absolute;
  width: 2166px;
  height: 2166px;
  border-radius: 55%;
  z-index: -5;
  left: 50%;
  top: 52%;
  transform: translate(-50%, -50%);

  backdrop-filter: 55px;
}
.stackBackground {
  position: absolute;
  width: 756px;
  height: 756px;
  border-radius: 55%;
  z-index: -5;
  left: 50%;
  top: 65.6%;
  transform: translate(-50%, -50%);
  backdrop-filter: 55px;
}

.modosBackground {
  position: absolute;
  width: 555px;
  height: 555px;
  border-radius: 50%;
  z-index: -5;
  left: 65%;
  top: 20%;
  backdrop-filter: 55px;
  animation: square linear 15s infinite;
}

.contactBackground {
  position: absolute;
  width: 555px;
  height: 555px;
  border-radius: 55%;
  z-index: -5;
  left: -15%;
  top: -55px;
  backdrop-filter: 55px;
  animation: animat linear 195s infinite;
}
.whymeBackground {
  position: absolute;
  width: 955px;
  height: 955px;
  border-radius: 55%;
  z-index: -55;
  left: -40%;
  top: -55%;
}
.footerBackground {
  position: absolute;
  width: 355px;
  height: 355px;
  border-radius: 55%;
  z-index: -55;
  left: 55px;
  top: 515px;
  animation: animat linear 155s infinite;
}
.footerBackgroundIn {
  position: absolute;
  width: 355px;
  height: 355px;
  border-radius: 55%;
  z-index: -55;
  left: 55px;
  top: 515px;
  animation: arribaAbajo linear 5s infinite;
  opacity: 1%;
}

.BakiDark {
  background-image: radial-gradient(#036aa1 10%, #020617 45%, transparent 100%);
}
.BakiLight {
  background-image: radial-gradient(#020617 10%, #f9fafb 55%, transparent 100%);
}
.BakiCrazy {
  background-image: radial-gradient(
    #ea5a0c 10%,
    #036aa1 25%,
    #ea5a0c2d 55%,
    transparent 100%
  );
}
