
/*  contact section styles */
.contact{
    margin-top: 150px;
}
.contactTitle{
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(25deg, #0369a1, #f4f6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact-data{
    display: flex;
    flex-direction: column;
}
.contactServiceItem{
    /* margin-bottom: 5px; */
    border: solid #0369a1;
    border-top: solid transparent;
    border-left: solid transparent;
    border-right: solid transparent;
}
.contactServiceDescription{
    font-size: 20px;
    transition: 0.5s;
    a{
        color: #94a3b8;
    }
    a:hover{
        color: #0369a1;
    }
}

.contactServiceDescription:hover{
    color: #4d557b;
    cursor: pointer;
}
.contact-form{
    background-color: #040b2b;
    border-radius: 15px;
    .contactFormTitle{
        padding: -5px;
        font-size: 50px;
        font-weight: bold;
        background: linear-gradient(25deg, #f4f6ff, #0369a1);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .contactFormText{
        color:#94a3b8;
    }
    input::placeholder, textarea::placeholder{
        color: #4d557b;
    }
    input:focus, textarea:focus{
        background-color: transparent;
        color: aliceblue;
    }
    input, select, textarea{
        background-color: transparent;
        color: aliceblue;
    }
    select>option{
        background-color: #94a3b8;
        color: aliceblue;
    }
}
 
.submitButtonC > button{
    background-image: linear-gradient(55deg,   #0369a1 10%, #020617 100%);
    border: solid aliceblue;
    color: aliceblue;
    padding: 6px 26px;
    border-radius: 9px;
}