/* Welcome styles */
@import url(./Welcome.css);

/* Service styles */
@import url(./Service.css);

/* Projects styles */
@import url(./Projects.css);

/* Stack styles */
@import url(./Stack.css);

/* About Styles */
@import url(./About.css);

/* Branding Styeles */
@import url(./Branding.css);

/* blog styles  */
@import url(./blog.css);

/* Contact Styles */
@import url(./Contact.css);

/* Animations */
@import url(./Animations.css);

/* Backgrounds */
@import url(./Backgrounds.css);

body {
  background-color: #020617;
  color: #f9fafb;
  overflow: hidden;
  transition: 0.6s;
  font-family: fredoka;
  font-weight: 650;
  padding-bottom: 0px;
}
body::-webkit-scrollbar {
  background-color: #02061700;
  /* background: linear-gradient(to left, #020617, #f0f0f0); */
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #0369a1, #020617);
  border-radius: 6px;
}

/* seguir el mouse */
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(55deg, #0369a1 30%, #020617 100%);
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out, background-color 0.2s ease;
  z-index: 1000;
  animation: rotate 5s linear infinite;
}

/*  */
.container-fluid {
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  z-index: 5;
}
.charge {
  opacity: 100%;
}

.Hi {
  position: absolute;
  left: 35%;
  top: 20%;
  font-family: Graduate;
  font-size: 250px;
  text-shadow: 5px 5px 5px;
  color: transparent; /* Hace que el relleno sea invisible */
  -webkit-text-stroke: 3px #0093b8; /* Contorno rojo de 3px */
  text-align: center;
  z-index: -555;
  animation: latir 8.5s Linear infinite;
  opacity: 25%;
}
/* navbar styles */
/* menu button */
.toggle,
#checkbox {
  display: none;
}
/* menu button */

#navbar {
  font-family: fredoka;
  font-weight: 700;
  height: 90px;
  z-index: 555;
  transition: 0.5s;
}
.scrolledDark {
  position: fixed;
  width: 100%;
  background-color: #020617;
  top: 0%;
  left: 1%;
}
.scrolledLight {
  position: fixed;
  width: 100%;
  background-color: #f9fafb;
  top: 0%;
  left: 1%;
}
.scrolledCrazy {
  position: fixed;
  width: 100%;
  background-color: #ea580c;
  top: 0%;
  left: 1%;
}

.navLogo {
  height: 100%;
  margin: 0% 5%;
  display: flex;
}

.navLogo > figcaption {
  position: relative;
  top: 15%;
}
.homeL {
  text-decoration: underline;
}

.navLInks {
  position: relative;
  display: flex;
  text-underline-offset: 10px;
  text-decoration-thickness: 6px;
}
.navbutton {
  font-weight: 500;
  padding: 5px 26px;
  width: 125px;
  border-radius: 18px;
}
.navbutton:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.navbutton:active {
  transform: scale(1);
}

.navbuttonDark {
  background-image: linear-gradient(55deg, #0369a1 10%, #020617 100%);
  border: solid #94a3b8;
  color: #f9fafb;
}
.navbuttonDark:active {
  background-image: linear-gradient(55deg, #020617 10%, #0369a1 100%);
  color: #94a3b8;
}

.navbuttonLight {
  background-image: linear-gradient(55deg, #f9fafb 10%, #0369a1 100%);
  border: solid #0369a1;
  color: #e2e2e2;
}
.navbuttonLight:active {
  background-image: linear-gradient(55deg, #0369a1 10%, #f9fafb 100%);
  color: #81bdde;
}

.navbuttonCrazy {
  background-image: linear-gradient(55deg, #ea580c 10%, #020617 100%);
  border: solid #0369a1;
  color: #0369a1;
}
.navbuttonCrazy:active {
  background-image: linear-gradient(55deg, #020617 10%, #ea580c 100%);
  color: #f9fafb;
}

.textBackDark {
  background: linear-gradient(25deg, #0369a1, #f4f6ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.textBackLight {
  background: linear-gradient(25deg, #f4f6ff, #0369a1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.textBackCrazy {
  background: linear-gradient(25deg, #0369a1, #ea580c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* /* footer styles */
#footer {
  font-family: fredoka;
  text-decoration: none;
  background-color: #002e47;
}
.footerLogo > img {
  animation: arribaAbajo 1s linear infinite;
}
.footerLink,
.goUpButton {
  color: #0369a1;
  text-decoration: none;
  cursor: pointer;
}
.footerLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.rights {
  color: aliceblue;
}

/* General */
a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #0369a1;
  text-decoration: underline;
}
.border {
  border: 1px solid #94a3b8;
}
.title {
  font-family: fredoka;
  font-weight: 600;
}
.subtitle {
  font-family: sans-serif;
  font-weight: 600;
}
.text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: white;
}

/*  */
.dropdown {
  position: relative;
  top: 15px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 75%;
  left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px #0000001a;
  padding: 0;
  list-style: none;
  margin: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  cursor: pointer;
}

.dropdown-item {
  padding: 8px 16px;
  text-decoration: none;
  color: #000;
  display: block;
  border-radius: 5px;
  font-weight: 600;
}

.dropdown-item:hover {
  cursor: pointer;
  color: #f9fafb;
  background-color: #0369a1;
}
