@media screen and (width < 1005px){

}

@media screen and (width < 860px){

  #checkbox {
    display: none;
  }
  
  .toggle {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
  }
  
  .bars {
    width: 100%;
    height: 4px;
    background-color: rgb(176, 92, 255);
    border-radius: 4px;
  }
  
  #bar2 {
    transition-duration: .8s;
  }
  
  #bar1,#bar3 {
    width: 70%;
  }
  
  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }
  
  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }
  .navLInks{
    opacity: 0%;
    background-color:#f9fafb;
    color: #020617;
    height: 455px;
    width: 65%;
    top: 85pc;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;    
    transition: 0.5s;    
    border-radius: 5px;
  }
  .navLInkItem{
      background-color: transparent;
      color: #020617;
  }

  .navLInkItem:hover{
      background-color: #f9fafb;
      color: #0369a1;
      opacity: 100%;
      box-shadow: 0px 0px 50;
  }
  
  .navLInkItem:active{
    background-color: #0369a1;
    transition: 0.5s;
    color: #f9fafb;
  }

  /* navbar */
  #checkbox:checked ~ .navLInks{
    top: 50vh;
    /* opacity: 0%; */
  }
  .menu-active{
    /* opacity: 66%; */
    overflow: hidden;
    
  }

}
@media screen and (width < 755px){
  
    /*service  */
    .serviceName{
        font-size: 26px;
        text-align: center;
    }
    .serviceDescription{
        text-align: center;
    }
    
    /* projects */
    /* stack */
    #stack_gallery_filter{
      position: relative;
      border-radius: 10px;
      height: 460px;
      overflow-y: scroll;
      transition: 0.6s;
      background-color: #f9fafb39;
  }
  #stack_gallery_filter::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    filter: none; /* Aplica un desenfoque de 5px */
    transition: filter 0.5s ease-in-out; /* Transición suave */
    z-index: -5;
  }
    /* about  */
    .aboutUno{
      z-index: 6;
      overflow: hidden;
      font-size: 17px;
      font-weight: 500;
  }

    /*  */
    .layout{
        display: none;
    }


    /*  */
    .carouselC{
        display: block;
        position: relative;
    }
    .blogEl{
        position: absolute;
        width: 300px;
        height: 300px;
        background-color: #f9fafb;
        color: #020617;
        z-index: 5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }  
    .carousel {
        height: 555px;
        display: grid;
        place-items: center;
        width: 100%;
        overflow: hidden;
        opacity: 55%;
    }
    .carousel-track {
        display: flex;
        width: calc(14 * (255px + 40px)); /* 255px element width + 40px margin (20px on each side) */
        animation: scrolll 30s linear infinite;
    }
    .el {
        flex: 0 0 255px; /* Fixed width of each element */
        height: 255px;   /* Fixed height of each element */
        padding: 10px;
        margin: 0 20px; /* 20px margin on the left and right */
        box-sizing: border-box; /* Ensures padding and margin don't affect the total size */
    }
    .elBord {
        border: 1px solid black;
        text-align: center;
        padding: 20px;
        background-color: #f9fafb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%; /* Ensures the content is centered */
        box-sizing: border-box;
    }
    /* Animation */
    @keyframes scrolll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
    @keyframes moveNames {
      from { transform: translate(-50%, -50%) translate(-1000px, -550px); }
      to{ transform: translate(-50%, -50%) translate(1000px, 550px); }
      /* 100% { transform: translate(-50%, -50%) translate(-1300px, -850px); } */
  }
  
  @keyframes moveIcons {
      from{ transform: translate(-50%, -50%) translate(1000px, -550px); }
      to{ transform: translate(-50%, -50%) translate(-1000px, 550px); }
      /* 100% { transform: translate(-50%, -50%) translate(1300px, -850px); } */
  }
}

@media screen and (width < 550px){

  body{
    padding: 5px;
  }
  /*welcome images and animation  */
  .navLInks{
    opacity: 0%;
    background-color: #f9fafb;
    height: 455px;
    width: 80%;
    top: 85pc;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: absolute;    
    transition: 0.5s;    
    border-radius: 5px;
  }

  .welcome-img{
    top: 6.6rem;
  }
  /* navbar */

  .welcome-h1{
    font-size: 45px;

  }
  .welcome-img{
    margin-top: 4em;
  } 
  #StackImg{
    transform: scale(1.6);
  }
  .aboutsectionContainer{
    justify-content: start;
  }
  .aboutUno{
    overflow-y: scroll;
  }
  .aboutDos{
    left: 35px;
}
  .aboutLink{
    left: 66%;
  }
  .colaborationsTitle{
    font-size: 55px;
    top: 25%;
    font-weight: bold;
  }
}

@media screen and (height < 575px){
  .navLInks{
    opacity: 0%;
    background-color: #f9fafb;
    height: 225px;
    width: 80%;
    top: 85pc;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: auto auto auto;
    /* flex-direction: column;
    justify-content: center; */
    text-align: center;
    position: absolute;    
    transition: 0.5s;    
    border-radius: 5px;
  }
  .navLInkItem{
    /* background-color: transparent; */
    color: #020617;
    width: 100px;
    height: 50px;
    border-radius: 20px;
    display: grid;
    place-items: center;
  }

  .welcome-img{
    margin-top: -1em;
  }
}



