
/* stack section styles */
.stack {
    margin-top: 195px;
    position: relative;
}
.animContainer{
    z-index: -5;
}
/* names */
.stackNameC { /* container */
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveNames 16.6s linear infinite;
    z-index: -5;
}
#StackNames {
    position: relative;
    background-color: #ffffff;
    transform: rotate(28deg); /* Slight rotation */
    color: #020617;
    font-weight: 600;
    box-shadow:-5px -5px 6px  #0505ff ; 
}

/* icons */
.stackIconsC {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: moveIcons 16s linear infinite;
    z-index: -5;
}
#StackIcons {
    position: relative;
    background-color: #ffffff32;
    box-shadow:5px 5px 6px  #0505ff ; 
    /* filter: blur(5px); */
    color: #020617;
    transform: rotate(-28deg); /* Slight rotation */
}


.stackTitle{
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(25deg, #0369a1, #f4f6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.stackOptions{
    border-radius:  16px;
    background-image: linear-gradient(15deg, #020617 35%, #036aa1 100%);
    overflow: hidden;
    
}
.stackOption{
    font-weight:600;
    transition: 0.5s;
    cursor: pointer;
    position: relative;
}
.stackOption:hover{
    text-decoration: underline;
    font-weight:100;
}

#stack_gallery_filter{
    position: relative;
    border-radius: 10px;
    height: 450px;
    transition: 0.6s;
}
#stack_gallery_filter::-webkit-scrollbar{
    background-color: #02061711;
}
#stack_gallery_filter::before{
    position: absolute;
    content: "";
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    filter: blur(5px); /* Aplica un desenfoque de 5px */
    transition: filter 0.5s ease-in-out; /* Transición suave */
    z-index: -5;
}
#Gallery{
    height: 300px;
}

.stack_gallery{
    z-index: 6;
}

.GalleryIcon{
    height:125px;
    width:125px;
    display: grid;
    position: relative;
    place-items: center;
    border-radius: 5px;
    transition: 0.5s;
}

.inconImg{
    height:105px;
    width:105px;
    border-radius: 15px;;
}
.GalleryIcon:hover{
   box-shadow:#f4f6ff -5px 0px 5px ; 
}

.stackImage{
    transition: 0.6s;
    position: relative;
}
#StackImg{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
