.blog {
  margin-top: 150px;
}
.blogTitle {
  font-size: 60px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.layout {
  height: 760px;
  display: block;
  background-image: linear-gradient(5deg, #5cc0f531 35%, #94a3b846 100%);
}
.element {
  height: 200px;
  border-radius: 16px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.lay {
  height: 440px;
  border-radius: 16px;
  display: grid;
  place-items: center;
  overflow: hidden;
}
.blog2__img {
  width: 100%;
  height: 100%;
}
.layy {
  position: relative;
  top: -216px;
}

.blog1__back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  animation: crecer 10s linear infinite;
}

.blog3__back {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.blog4__BBack {
  width: 135px;
  height: 155px;
  margin-left: 15px;
  margin-top: -10px;
  opacity: 0.3;
  animation: latir 1s ease-in-out infinite;
}

.blog5__back {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
  color: azure;
  z-index: 5;
  animation: crecer 22s linear infinite;
}
h1 {
  z-index: 6;
}

.blog6__img {
  width: 100%;
  height: 100%;
}

.blog7 {
  background-image: radial-gradient(
    #02283c,
    #0369a1,
    #02283c,
    #05a3f8,
    transparent,
    #84d4ff,
    #0369a1,
    #f4f6ff,
    #286789,
    transparent
  );
  /* transition: 2s; */
  animation: animAgujero 0.51s infinite;
  animation-timing-function: steps(11);
  position: relative;
  display: grid;
}
.blog7__img {
  width: 110%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.blog8 {
  position: relative;
  display: grid;
  place-content: center;
}
.blog8__img {
  width: 110%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  animation: crecer 12s linear infinite;
}

/* carousel */
.carouselC {
  display: none;
}
/* carousel */
