/* Welcome styles */
@import url(./Welcome.css);

/* Service styles */
@import url(./Service.css);

/* Projects styles */
@import url(./Projects.css);

/* Stack styles */
@import url(./Stack.css);

/* About Styles */
@import url(./About.css);

/* Branding Styeles */
@import url(./Branding.css);

/* blog styles  */
@import url(./blog.css);

/* Contact Styles */
@import url(./Contact.css);

/* Animations */
@import url(./Animations.css);

* {
  transition: all 0.5s ease-out;
}

/* Backgrounds */
@import url(./Backgrounds.css);
body {
  scroll-behavior: smooth;

  background-color: #020617;
  color: #f9fafb;
  overflow-x: hidden;
  transition: 0.6s;
  font-family: fredoka;
  font-weight: 650;
  padding: 0px;
}
body::-webkit-scrollbar {
  background-color: #02061700;
  background-image: linear-gradient(to top, #0081c727 30%, #02061776 100%);
}
body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #0369a1 30%, #020617 100%);
  border-radius: 6px;
}
.backgroundColor {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: -5555;
  transition: ease-in 1.5s;
  display: none;
}

/* seguir el mouse */
.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(55deg, #0369a1 30%, #020617 100%);
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease-out, background-color 0.2s ease;
  z-index: 1000;
  animation: rotate 5s linear infinite;
}

/*  */
.container-fluid {
  max-width: 100%;
  min-width: 100%;
  overflow-x: hidden;
  z-index: 5;
}
.charge {
  opacity: 100%;
}

/* navbar styles */
/* menu button */
.toggle,
#checkbox {
  display: none;
}

/* menu button */
#navbar {
  font-family: fredoka;
  font-weight: 700;
  height: 90px;
  width: 100%;
  left: 1%;
  z-index: 555;
  transition: 0.5s;
  background-color: transparent;
}

.navLogo {
  height: 100%;
  margin: 0% 5%;
  display: flex;
}

.navLogo > figcaption {
  position: relative;
  top: 15%;
}

.navLInks {
  position: relative;
  display: flex;
  text-underline-offset: 10px;
  text-decoration-thickness: 6px;
  transition: 0.6s;
}
.navbutton {
  font-weight: 500;
  padding: 5px 26px;
  min-width: 125px;
  border-radius: 18px;
}
.navbutton:hover {
  transform: scale(1.05);
  transition: 0.1s;
}
.navbutton:active {
  transform: scale(1);
}

.navbuttonDark {
  background-image: linear-gradient(55deg, rgb(3, 105, 161) 10%, #020617 100%);
  border: solid #94a3b8;
  color: #f9fafb;
}
.navbuttonDark:active {
  background-image: linear-gradient(55deg, #020617 10%, #0369a1 100%);
  color: #94a3b8;
}

.navbuttonLight {
  background-image: linear-gradient(55deg, #f9fafb 10%, #0369a1 100%);
  border: solid #0369a1;
  color: #e2e2e2;
}
.navbuttonLight:active {
  background-image: linear-gradient(55deg, #0369a1 10%, #f9fafb 100%);
  color: #81bdde;
}

.navbuttonCrazy {
  background-image: linear-gradient(55deg, #ea580c 10%, #020617 100%);
  border: solid #f9fafb;
  color: #f9fafb;
  font-family: graduate;
}
.navbuttonCrazy:active {
  background-image: linear-gradient(55deg, #020617 10%, #ea580c 100%);
  color: #0369a1;
}
.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  padding: 0.8em 1em;
  color: white;
  z-index: 1000;
  background: linear-gradient(0deg, rgb(4, 51, 192) 0%, #0369a1 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #0369a1;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em #0369a1;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #0369a1;
}

/* General */
a {
  color: #ffffff00;
  text-decoration: none;
}
a:hover {
  color: #0369a1;
  text-decoration: underline;
}
.border {
  border: 1px solid #94a3b8;
}
.title {
  font-family: fredoka;
  font-weight: 600;
}
.subtitle {
  font-family: sans-serif;
  font-weight: 600;
}
.text {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #f9fafb;
}

/* /* footer styles */
#footer {
  font-family: fredoka;
  text-decoration: none;
  background-color: #108fd3;
  background-clip: blur(5px);

  background-image: radial-gradient(at 88% 40%, #14141a 0px, transparent 85%),
    radial-gradient(at 49% 30%, #020107 0px, transparent 85%),
    radial-gradient(at 14% 26%, #020d2d 0px, transparent 85%),
    radial-gradient(at 0% 64%, #002c44 0px, transparent 85%),
    radial-gradient(at 41% 94%, #0369a1 0px, transparent 85%),
    radial-gradient(at 100% 99%, #0040ff 0px, transparent 85%);

  height: 449px;
  width: 99%;

  position: relative;
  overflow: hidden;
  left: 1.5%;
  top: 1vh;
  border: solid 5px;
}
.footerLogo > img {
  animation: arribaAbajo 1s linear infinite;
}
.footerLink,
.goUpButton {
  color: #ebf8ff;
  text-decoration: none;
  cursor: pointer;
}
.goUpButton {
  position: relative;
  left: 45%;

  width: 10px;
  padding: 0px;
  transition: 0.5s;
}
.goUpButton img {
  position: absolute;
  color: #f9fafb;
  width: 25px;
  height: 25px;
  top: 0px;
  transition: 0.5s;
}
.goUpButton img:hover {
  width: 35px;
  height: 35px;
}
.goUpButton img:active {
  top: -75px;
}
.footerLink:hover {
  cursor: pointer;
  text-decoration: underline;
}

.animados {
  animation: arribaAbajo 1s linear 1;
}

.showA {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.showA.hidden {
  opacity: 0;
  transform: translateY(20px);
}

/* Transición suave de opacidad en el body */
#overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: black;
  opacity: 0;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease;
  z-index: 1000;
}

#overlay.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: all;
}

.portfolioL {
  text-decoration: underline;
}
