@media screen and (width < 860px) {
  body {
    background-color: #f9fafb;
  }
  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: 0.5s;
  }

  .bars {
    width: 100%;
    height: 4px;
    background-color: #0369a1;
    background: linear-gradient(180deg, white, #0369a1, #ff6a00);
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: 0.8s;
  }

  #bar1,
  #bar3 {
    width: 70%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: 0.5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: 0.5s;
    transform: rotate(180deg);
  }

  .navLInks {
    opacity: 0%;
    background-color: #020617;
    height: 455px;
    width: 65%;
    top: 85pc;
    left: 50%;
    z-index: 8;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    place-items: center;
    position: absolute;
    border-radius: 5px;
  }
  .navLInkItem {
    background-color: transparent;
    color: #020617;
    background-color: #d8f1ff00;
    border-radius: 5px;
    width: 50%;
    margin: auto;
  }
  .navLInkItem:hover {
    background-color: #0369a1;
    opacity: 100%;
    box-shadow: 0px 0px 50;
  }

  .navLInkItem:active {
    background-color: #f9fafb5c;
    transition: 0.5s;
  }

  /* navbar */
  #checkbox:checked ~ .navLInks {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: calc(50% 50%);
  }
  .menu-active {
    overflow: hidden;
  }

  .nuevaClase {
    height: 280px;
    width: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: #020617 0px 0px 225px;
    position: fixed;
    background-color: #0d1c5f;
  }

  .dropdown {
    border: solid;
    background-color: #0369a1;
    width: 50%;
    height: 55px;
    border-radius: 5px;
    margin-top: -25px;
    display: grid;
    place-items: center;
  }
}
@media screen and (width < 755px) {
  /* backs */
  .stackBackground {
    width: 656px;
    height: 656px;
    top: 77.7%;
  }

  /* stack */
  #stack_gallery_filter {
    position: relative;
    border-radius: 10px;
    height: 460px;
    overflow-y: scroll;
    transition: 0.6s;
  }
  #stack_gallery_filter::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: none; /* Aplica un desenfoque de 5px */
    transition: filter 0.5s ease-in-out; /* Transición suave */
    z-index: -5;
  }
}

@media screen and (width < 550px) {
  /* backs */
  .BakiLight {
    background-image: radial-gradient(
      #02061789 10%,
      #f9fafb 55%,
      transparent 100%
    );
  }

  .projectsGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "a1 a2 a3"
      "a1 a4 a3"
      "a1 a4 a5"
      "a6 a4 a5"
      "a6 a7 a5"
      "a6 a7 a8"
      "a9 a7 a8"
      "a9 b1 a8"
      "a9 b1 b4"
      "b2 b1 b4"
      "b2 b3 b4"
      "b2 b3 b4";
  }

  .a1 {
    grid-area: a1;
  }

  .a2 {
    grid-area: a2;
  }

  .a3 {
    grid-area: a3;
  }

  .a4 {
    grid-area: a4;
  }

  .a5 {
    grid-area: a5;
  }

  .a6 {
    grid-area: a6;
  }

  .a7 {
    grid-area: a7;
  }

  .a8 {
    grid-area: a8;
  }

  .a9 {
    grid-area: a9;
  }

  .b1 {
    grid-area: b1;
  }

  .b2 {
    grid-area: b2;
  }

  .b3 {
    grid-area: b3;
  }

  .b4 {
    grid-area: b4;
  }
  /* navbar */
  .scrolledCrazy,
  .scrolledDark,
  .scrolledLight {
    left: 5.9%;
  }
  .navLInks {
    opacity: 0%;
    height: 350px;
    width: 80%;
    display: flex;
    text-align: center;
    transition: 0.5s;
    border-radius: 5px;
  }

  /* welcome */
  .welcome-img {
    top: -36px;
    padding: 5px 7px;
  }

  .WelcomeLinks {
    left: 5%;
    padding: 5px 7px;
  }

  .welcome-h1 {
    font-size: 45px;
  }
  .welcome-img {
    margin-top: 4em;
  }
  #StackImg {
    transform: scale(1.6);
  }
  .aboutsectionContainer {
    justify-content: start;
  }
  #footer {
    height: 449px;
    max-width: 96%;
    left: 0%;
    margin: auto;
  }
  .goUpButton {
    position: relative;
    left: 25%;
    min-width: 140px;
    padding: 0px;
  }
}

/* un media queris para el alto */
@media (max-height: 600px) {
  .navLInksC {
    z-index: 1000;
  }
  .navLInkItem,
  .homeL {
    width: 50%;
    margin: 10px;
  }
}
