/* welcome section styles*/
#welcome {
  position: relative;

  background-image: radial-gradient(at 88% 60%, #14141a 0px, transparent 85%),
    radial-gradient(at 49% 70%, #020107 0px, transparent 85%),
    radial-gradient(at 14% 74%, #020d2d 0px, transparent 85%),
    radial-gradient(at 0% 36%, #002c44 0px, transparent 85%),
    radial-gradient(at 41% 6%, #0369a1 0px, transparent 85%),
    radial-gradient(at 100% 1%, #0040ff 0px, transparent 85%);
}
#welcome-container {
  position: relative;
  top: 22px;
  padding: 0% 2%;
}
.welcome-img {
  height: 450px;
}
.textBackDark {
  background: linear-gradient(25deg, #036aa1, #f4f6ff);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
.textBackLight {
  background: linear-gradient(25deg, #f4f6ff, #0369a1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.textBackCrazy {
  background: linear-gradient(25deg, #0369a1, #020617);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: latir 2s linear infinite;
}

.welcome-h2 {
  font-size: 40px;
  font-weight: bold;
}
.welcome-h1 {
  font-size: 50px;
}

.slogan {
  color: #94a3b8;
}
.welcomeBtn {
  padding: 1.5% 5%;
  margin: 1.66% 0%;
  border: solid #02335e;
  border-right: solid transparent;
  border-left: solid transparent;
  background-color: transparent;

  color: #f9fafb;
  font-weight: 500;
  border-radius: 18px;
}
.welIcon {
  margin: 0% 5px;
  filter: drop-shadow(2px 4px 7px #02335e);
}
.imgItem {
  width: 350px;
  height: 350px;
  border-radius: 35px;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    border-radius: 35px;
  }
}
.rotateDiv {
  transform: rotate(55deg);
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0);
}

.rotateDiv img {
  width: 200%;
  height: 200%;
  position: absolute;
  left: -50%;
  top: -55%;
  filter: drop-shadow(4px -7px 9px #f9fafb68);
  transition: 0.5s ease-in;
  animation: 7s linear infinite giroSombra;
}

.welcome__items {
  border-radius: 15px;
  background-color: #02335e75;
  backdrop-filter: blur(15px);
  position: relative;
  padding: 5px;
  width: 100%;
  height: 120px;
  margin-top: 90px;
  display: flex;
  flex-direction: row;
}

.welcome__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  text-align: center;
  margin: 5px;
  font-size: 25px;
  font-weight: 100;
}

.linksCrazy {
  background: linear-gradient(25deg, #f9fafb, #f9fafb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  transition: 0.5s ease;
}
.linksCrazy:hover {
  cursor: pointer;
  text-decoration: underline;
  background: linear-gradient(25deg, #0369a1, #f9fafb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.linksDark {
  background: linear-gradient(25deg, #f9fafb, #f9fafb);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: 0.5s ease;
}
.linksDark:hover {
  cursor: pointer;
  text-decoration: underline;
  background: linear-gradient(25deg, #f9fafb, #036aa1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.linksLight {
  background: linear-gradient(25deg, #020617, #020617);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  transition: 0.5s ease;
}
.linksLight:hover {
  cursor: pointer;
  text-decoration: underline;
  background: linear-gradient(25deg, #f4f6ff, #020617);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
